<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="/static/img/tapIcon.jpg">
    <link rel="stylesheet" href="/static/css/stlye.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>AuntieAnne's</title>
</head>

<body>
    <div class="container">
        <div class="login-container">
            <div class="logo">
                <img src="/static/img/icon-img.svg" alt="로고">
            </div>
            <form class="login-form" method="POST" action="/login">
                <div class="input-group">
                    <label for="email">이메일</label>
                    <input type="email" id="email" name="email" placeholder="example@domain.com" required>
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
                </div>
                <button type="submit" class="login-button">로그인</button>
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}
                <div class="extra-links">
                    <a href="/templates/html/singup.html">회원가입</a>
                    <a href="#">비밀번호 찾기</a>
                </div>
            </form>
        </div>
    </div>
</body>