<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" href="/static/img/tapIcon.jpg">
    <link rel="stylesheet" href="/static/css/stlye.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>AuntieAnne's</title>
</head>

<body>
    <!-- 모바일 버전을 위해 div container안에 내용 작성 -->
    <div class="container">
        <header>
            <div class="icon">
                <div class="icon-img"><a href="/templates/html/main.html"><img src="/static/img/icon-img.svg" alt="이미지"></a></div>
            </div>
            <div class="cart"><a href="/html/"><i class="bi bi-bag"></i></a></div>
        </header>

        <main>
            <div class="scroll-container">
                <img src="/static/img/스크롤이미지-1.jpg" alt="">
                <img src="/static/img/스크롤이미지-2.jpg" alt="">
                <img src="/static/img/스크롤이미지-3.jpg" alt="">
            </div>

            <div class="title">주문방식</div>
            <div class="order-container">
                <div class="order-item">
                    <i class="bi bi-shop"></i>
                    <div class="order-text">매장주문</div>
                </div>
                <div class="order-item">
                    <i class="bi bi-box"></i>
                    <div class="order-text">포장주문</div>
                </div>
            </div>

            <div class="title">메뉴</div> <!-- 메뉴 제목 -->

            <div class="category-bar">
                <button onclick="filterCategory('all')">전체</button>
                <button onclick="filterCategory('프레즐')">프레즐</button>
                <button onclick="filterCategory('스틱')">스틱</button>
                <button onclick="filterCategory('핫도그')">핫도그</button>
                <button onclick="filterCategory('딥')">딥</button>
                <button onclick="filterCategory('에이드')">에이드</button>
                <button onclick="filterCategory('커피')">커피</button>
            </div>
            
            <div class="menu-container">
                <div class="menu-items">
                    <!-- menu-item들이 동적으로 삽입됩니다 -->
                </div>
            </div>
        </main>

        <footer>
            <div class="home"><a href="/templates/html/main.html"><i class="bi bi-house-door"></i></a></div>
            <div class="map"><a href="/templates/html/storeSelection.html"><i class="bi bi-geo-alt"></i></a></div>
            <div class="order"><a href="/order"><img src="/static/img/order-img.svg" alt=""></a></div>
            <div class="list"><a href="/list"><i class="bi bi-list"></i></a></div>
            <div class="user"><a href="/user"><i class="bi bi-person"></i></a></div>
        </footer>
    </div>

    <script src="/static/js/main.js"></script>
</body>

</html>