<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stlye.css">
    <link rel="stylesheet" href="/static/css/singup.css">
    <title>AuntieAnne's</title>
</head>
<body>
    <div class="container">
        <div class="signup-container">
            <h1>회원가입</h1>
            <form action="/signup" method="post">
                <div class="input-group">
                    <label for="email">이메일</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">비밀번호 확인</label>
                    <input type="password" name="confirm-password" id="confirm-password" required>
                </div>
                <button type="submit" class="signup-button">회원가입</button>
            </form>
            <a href="/templates/html/login.html">로그인으로 돌아가기</a>
        </div>
    </div>
</body>
</html>